.main-content {
  flex-grow: 1;
}

.footer-container {
  position: fixed;
  bottom: 0;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  border-top: 1px solid #efa989;
  box-shadow: 0 2px 4px rgba(196, 194, 194, 0.1);

  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Apply blur effect */
}

.logged-out .footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; /* Ensure footer takes full width */
}

.logged-in .footer-container {
  margin-top: auto; /* Push footer to the bottom of the content */
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 30px;
  color: #efa989;
  margin-right: 1.6rem;
  padding: 0.6rem 0 0rem 0;
}

#logo-img-footer {
  width: 300px;
  height: 100px;
}

.footer-company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0.7rem;
}

.bxs-user,
.bxs-envelope,
.bxl-internet-explorer,
.bxs-phone {
  color: #efa989;
}

.bxl-facebook-circle:hover {
  color: rgb(29, 29, 239);
}

.bxl-instagram-alt:hover {
  color: rgb(222, 10, 197);
}

.bxl-twitter:hover {
  color: rgb(15, 164, 228);
}

span {
  color: black;
  padding-left: 0.6rem;
  letter-spacing: 3px;
  font-size: 12px;
}

.footer-customer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0.7rem;
  font-size: 10px;
  letter-spacing: 2px;
}

h3 {
  font-weight: normal;
  letter-spacing: 3px;
}

.footer-right {
  text-align: center;
  color: #626262;
  margin-left: 4rem;
  letter-spacing: 3px;
  font-size: 10px;
}

.footer-container a {
  color: black;
  text-decoration: none;
}

/* .footer-unfo-user .bxs-user:hover,
.bxs-envelope:hover,
.bxl-internet-explorer:hover,
.bxs-phone:hover {
font-size: 18px;
} */

/* .bxs-user span:hover {
  font-weight: 400;
  font-size: 14px;
} */

@media screen and (max-width: 970px) {
  .footer-container {
    height: auto;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .footer-social-network {
    justify-content: center;
    padding-bottom: 1rem;
  }

  .footer-company-info,
  .footer-customer {
    align-items: center;
    text-align: center;
  }

  #logo-img {
    width: auto; /* Adjust logo width for smaller screens */
  }

  .footer-right {
    margin-top: 3rem;
  }
}
