* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply styles to the html and body elements */
html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
